extends layout
block content 
    h2 Passengers
    p There are #{passengers.length} passengers waiting.

    ol 
        each passenger in passengers
            li
                a(href=`http://localhost:3000/passengers/${passenger.id}`)= passenger.name 
                hr
                br