doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Homepage 
        style.
            body { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif }
        script(src="https://unpkg.com/axios/dist/axios.min.js") 
    body 
        a(href="http://localhost:3000/") Homepage 
        a(href="http://localhost:3000/passengers") Passengers 
        a(href="http://localhost:3000/drivers") Drivers 
        h1 Hi! Welcome to taxi-booking app..

        block content
         
